<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="SBrickey.SPServiceAppTemplate.SharePoint.ServiceApp.Provider.WebServiceApp">
        <endpoint name="http"
                  address="http"
                  binding="customBinding"
                  bindingConfiguration="myHttpBinding"
                  contract="SBrickey.SPServiceAppTemplate.SharePoint.ServiceApp._Contract_.iServiceAppContract"
                  />
        <endpoint name="https"
                  address="https"
                  binding="customBinding"
                  bindingConfiguration="myHttpsBinding"
                  contract="SBrickey.SPServiceAppTemplate.SharePoint.ServiceApp._Contract_.iServiceAppContract"
                  />
      </service>
    </services>
    <bindings>
      <customBinding>
        <binding name="myHttpBinding">
          <security authenticationMode="IssuedTokenOverTransport"
                    allowInsecureTransport="true" />
          <binaryMessageEncoding>
            <readerQuotas maxStringContentLength="1048576"
                          maxArrayLength="2097152" />
          </binaryMessageEncoding>
          <httpTransport maxReceivedMessageSize="2162688"
                         authenticationScheme="Anonymous"
                         useDefaultWebProxy="false" />
        </binding>
        <binding name="myHttpsBinding">
          <security authenticationMode="IssuedTokenOverTransport" />
          <binaryMessageEncoding>
            <readerQuotas maxStringContentLength="1048576"
                          maxArrayLength="2097152" />
          </binaryMessageEncoding>
          <httpsTransport maxReceivedMessageSize="2162688"
                          authenticationScheme="Anonymous"
                          useDefaultWebProxy="false" />
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <security>
      <authentication>
        <anonymousAuthentication enabled="true" />
        <windowsAuthentication enabled="false" />
      </authentication>
    </security>
  </system.webServer>
</configuration>