<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint name="http"
                contract="SBrickey.SPServiceAppTemplate.SharePoint.ServiceApp._Contract_.iServiceAppContract"
                binding="customBinding"
                bindingConfiguration="myHttpBinding"
                />
      <endpoint name="https"
                contract="SBrickey.SPServiceAppTemplate.SharePoint.ServiceApp._Contract_.iServiceAppContract"
                binding="customBinding"
                bindingConfiguration="myHttpsBinding"
                />
    </client>

    <bindings>
      <customBinding>
        <binding name="myHttpBinding"
                 sendTimeout="1:00:00">
          <security authenticationMode="IssuedTokenOverTransport"
                    allowInsecureTransport="true" />
          <binaryMessageEncoding>
            <readerQuotas maxStringContentLength="1073741824"
                          maxArrayLength="1073741824"
                          maxBytesPerRead="1073741824"
                          />
          </binaryMessageEncoding>
          <httpTransport maxBufferPoolSize="1073741824"
                         maxReceivedMessageSize="1073741824"
                         useDefaultWebProxy="false"
                         transferMode="Streamed"
                         authenticationScheme="Anonymous"
                         />
        </binding>
        <binding name="myHttpsBinding"
                 sendTimeout="1:00:00">
          <security authenticationMode="IssuedTokenOverTransport" />
          <binaryMessageEncoding>
            <readerQuotas maxStringContentLength="1073741824"
                          maxArrayLength="1073741824"
                          maxBytesPerRead="1073741824"
                          />
          </binaryMessageEncoding>
          <httpsTransport maxBufferPoolSize="1073741824"
                          maxReceivedMessageSize="1073741824"
                          useDefaultWebProxy="false"
                          transferMode="Streamed"
                          authenticationScheme="Anonymous"
                          />
        </binding>
      </customBinding>
    </bindings>

  </system.serviceModel>
</configuration>